/************Estilos generales***************/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    font-size:16px;
    font-family:sans-serif;
    display:flex;
    align-items:center;
    flex-direction: column;
    min-height:100vh;
    background:#e5ecf2;
  }

  .disabled{
    pointer-events: none;
  }

  select{
    cursor: pointer;
  }

  .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #dee2e6 #dee2e6 #fff;
  }

/**********Generador de tokens***********/

  .generador {
    background:#fff;
    border: 1px solid #ddd;
    padding:30px;
    border-radius:6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  }
  #result {
    background:#ddd;
    min-height:30px;
    padding:5px 13px;
    border: 1px solid #ddd;
    border-radius:4px;
    margin-bottom:20px;
  }

  #result:focus {
    outline:none;
    border:1px solid blue;
  }
  .text-right {
    text-align:right;
  }

